/* Museum styles */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.plainPanel {
    position: absolute;
    color: orange;
    padding: 0.5% 0.5% 0.25% 0.5%;
}
.notice {
    border-radius: 10px;
    background: #636363;
}
@font-face {
    font-family: 'maelregular';
    src: url('../fonts/mael-webfont.woff2') format('woff2'),
    url('../fonts/mael-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.infoPanel {
    position: absolute;
    background: gray;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1%;
}
.infoPanelClear {
    position: absolute;
}
#notSupported {
    top: 20%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 1.25vw;
    border-radius: 15px;
    padding: 1%;
    z-index: 10;
}
#notSupported p img {
    width: 15%;
}
#title {
    left: 42.5%;
    top: 2%;
    width: 15%;
    font-family: "maelregular";
    font-size: 4vw;
}
#settings {
    top: 2%;
    right: 1%;
    width: 7.5%;
}
#settings p {
    color: white;
    font-size: 1.1vw;
}
#moveControls {
    top: 20%;
    right: 1%;
    width: 7.5%;
}
#moveControls p {
    color: white;
    font-size: 1.1vw;
}
#moveControls img {
    width: 40%;
}
#moveControls button {
    width: 75%;
    margin-bottom: 3%;
    padding: 3% 0;
}
#contributions {
    bottom: 2%;
    right: 1%;
}
#instructions {
    bottom: 1%;
    left: 40%;
    width: 20%;
    font-size: 1.5vw;
}
#info {
    bottom: 1%;
    left: 1%;
    width: 5%;
}
#info img {
    width: 100%;
}
#copyright {
    left: 15%;
    bottom: 1%;
    color: white;
    -webkit-touch-callout: none;
}
#copyright p {
    font-size: 2.75vw;
}