/* Museum styles */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.plainPanel {
    position: absolute;
    color: orange;
}
@font-face {
    font-family: 'maelregular';
    src: url('../fonts/mael-webfont.woff2') format('woff2'),
    url('../fonts/mael-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.infoPanel {
    position: absolute;
    background: gray;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1%;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 33.333%;
    width: 33.333%;
}
#title {
    left: 42.5%;
    top: 2%;
    width: 15%;
    font-family: "maelregular";
    font-size: 4vw;
}
#settings {
    top: 1%;
    right: 1%;
}
#moveControls {
    top: 15%;
    right: 1%;
}